.host-app-container {
  padding: 16px;
}

.app-options {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.app-remote a {
  font-size: 14px;
  text-decoration: none;
}

.app-remote.active-app {
  font-weight: 900;
  color: red;
}
